* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #7045FF;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}


/*scrollbar*/

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #c4c4c4;
}

::-webkit-scrollbar-thumb {
    background: #83FFE1;
    border-radius: 10px;
}


/* navbar */

#nav {
    background: #7045FF !important;
    position: sticky !important;
    top: 0 !important;
    z-index: 1!important;
    margin: auto;
}

.navbar-brand span {
    font-weight: bolder;
    color: #83FFE1;
}

.navbar-nav a {
    position: relative;
    color: #83FFE1!important;
    font-weight: bolder;
}

.navbar-nav li {
    padding: 0 45px;
}

.navbar-nav a:after {
    content: "";
    position: absolute;
    background-color: #FFADED;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -1px;
    transition: 0.3s;
    border-radius: 10px;
}

.navbar-nav a:hover {
    color: #FFADED!important;
}

.navbar-nav a:hover:after {
    width: 100%;
}

.btn {
    background-color: #FFADED;
    border-radius: 10px;
    color: #7045FF;
}


/* banner */

#banner {
    position: relative;
    padding-top: 10%;
}

.title {
    position: relative;
    font-weight: bolder;
}

.ban-img {
    position: relative;
    max-width: 100%;
}

.col-md-6 {
    color: #83FFE1;
}


/*Browse*/

#browse .container {
    padding-top: 5%;
}

.container .browse {
    padding-bottom: 2%;
}

.dash {
    border: 2px solid #83FFE1;
    border-radius: 20px;
    width: 70px;
    height: -10px;
    bottom: 24px;
    left: 270px;
    position: relative;
    background-color: #83FFE1;
}

.container .card1,
.container .card2,
.container .card3,
.container .card4 {
    position: relative;
    width: 220px;
    height: 350px;
    background: hsl(249, 26%, 24%);
    border-radius: 20px;
    overflow: hidden;
    margin: 30px;
}

.container span {
    color: #83FFE1;
}

.container .card1:before,
.container .card2:before,
.container .card3:before,
.container .card4:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: circle(90px at 90% 20%);
    transition: 0.5s ease-in-out;
}

.container .card1:before {
    background: #dc6736;
}

.container .card2:before {
    background: #2C70C1;
}

.container .card3:before {
    background: #625954;
}

.container .card4:before {
    background: #25F4EE;
}

.container .card1:hover:before,
.container .card2:hover:before,
.container .card3:hover:before,
.container .card4:hover:before {
    clip-path: circle(200px at 80% -20%)
}

.container .card1 .imgBx,
.container .card2 .imgBx,
.container .card3 .imgBx,
.container .card4 .imgBx {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 180px;
    transition: 0.5s;
}

.container .card1:hover .imgBx,
.container .card2:hover .imgBx,
.container .card3:hover .imgBx,
.container .card4:hover .imgBx {
    top: 0%;
    transform: translateY(0%)
}

.container .card1 .imgBx img,
.container .card2 .imgBx img,
.container .card3 .imgBx img,
.container .card4 .imgBx img {
    position: absolute;
    top: 40%;
    left: 35%;
    width: 70px;
}

.container .card1 .contentBx,
.container .card2 .contentBx,
.container .card3 .contentBx,
.container .card4 .contentBx {
    position: absolute;
    bottom: 40px;
    width: 100%;
    height: 50px;
    text-align: center;
    transition: 1s;
}

.container .card1:hover .contentBx,
.container .card2:hover .contentBx,
.container .card3:hover .contentBx,
.container .card4:hover .contentBx {
    height: 140px;
}

.container .card1 .contentBx h2,
.container .card2 .contentBx h2,
.container .card3 .contentBx h2,
.container .card4 .contentBx h2 {
    position: absolute;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    display: flex;
    text-align: center;
    padding: 8px 67px;
    transition: 0.3s;
}

.container .card2 .contentBx h2 {
    padding: 8px 40px;
}

.container .card3 .contentBx h2 {
    padding: 8px 62px;
}

.container .card4 .contentBx h2 {
    padding: 8px 65px;
}

.container .card1 .content-btn,
.container .card2 .content-btn,
.container .card3 .content-btn,
.container .card4 .content-btn {
    display: inline-block;
    padding: 60px 50px;
    text-decoration: none;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
}

.container .card1:hover .content-btn,
.container .card2:hover .content-btn,
.container .card3:hover .content-btn,
.container .card4:hover .content-btn {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.75s;
}

.see {
    background-color: #fff;
    color: #000;
    font-weight: 600;
}


/* 404page */

#blankpage {
    position: relative;
    padding-top: 3%;
}

.titleblank {
    position: relative;
    font-weight: bolder;
}

#footer {
    margin-top: 3%;
    padding: 20px 0;
    color: #fff;
    background-color: #FFADED;
}

.footer span {
    color: #83FFE1;
}


/*browse myproject*/

#myproject .container {
    padding-top: 5%;
}

.dashstrip {
    border: 2px solid #83FFE1;
    border-radius: 20px;
    width: 70px;
    height: -10px;
    bottom: 24px;
    left: 180px;
    position: relative;
    background-color: #83FFE1;
}

.card-deck {
    padding-bottom: 5%;
}

.head {
    color: #fff;
    font-weight: bolder;
}

.titlee {
    color: #fff;
    font-weight: bolder;
}

.categories {
    border-radius: 10px;
    background-color: #83FFE1;
    display: inline-block;
    position: relative;
    margin-bottom: 100px;
}

.categories span {
    color: #7045FF;
}

.read {
    border-radius: 30px;
    background-color: #fff;
    color: #7045FF;
    position: relative;
    top: -20px;
}

.titles {
    position: relative;
    font-weight: bolder;
    color: #7045FF;
}

.card {
    background-color: hsl(249, 26%, 24%);
    border-radius: 10px;
}

.card-img-top {
    border-radius: 15px;
    padding: 5px;
    max-width: 100%;
}

.card-title {
    color: #83FFE1;
}

.card-text {
    padding-top: 5%;
}


/*about me*/

#aboutme {
    position: relative;
    padding: 0;
}

.about {
    color: #83FFE1;
    font-weight: bolder;
}

.halo {
    font-weight: bolder;
    color: #FFADED;
}

.aboutme {
    padding-left: 20%;
    padding-right: 20%;
}

.aboutme p {
    color: #fff;
    text-align: justify;
}

.aboutme p span {
    color: #83FFE1;
    font-weight: bolder;
}

.instagram {
    width: 325px;
    height: 640px;
    background: #fff !important;
    padding: 20px;
}

.img {
    display: inline;
}

.img img {
    width: 11%;
    border-radius: 50%;
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.274);
}

.caption-header {
    display: block;
    position: relative;
    left: 50px;
    bottom: 41px;
}

.caption-header p {
    font-size: 17px;
    margin-bottom: -3px;
    color: #000!important;
}

.caption-header span {
    font-size: 12px;
    color: #000 !important;
}

.caption-icon img {
    position: relative;
    left: 90%;
    top: -78px;
    width: 26px;
    margin-bottom: 18px;
}

.insta-img img {
    position: relative;
    bottom: 75px;
}

.like-item {
    position: relative;
    bottom: 57px;
}

.like-item p {
    font-weight: 500;
    margin: 0;
    font-size: 15px;
    color: #000;
}

.like-item span {
    padding-left: 6px;
    font-weight: 500;
    font-size: 15px;
    color: #000 !important;
}

.like-item span:last-child {
    color: rgba(0, 0, 0, 0.452) !important;
    padding: 0 !important;
    font-weight: normal;
}

.like-item img {
    width: 23px;
    margin: 0 5px;
}

.last-icon {
    float: right;
}

.like-item p:last-child {
    display: inline;
}

.comment span {
    margin-bottom: 30px;
    position: relative;
    bottom: 45px;
    margin-left: -24px;
    color: #000006e0 !important;
}

.comment span {
    font-size: 13px;
    position: relative;
    bottom: 60px;
    left: 20px;
    bottom: 40px;
}


/*social*/

.iconn {
    display: inline-block;
    font-size: 44px;
    animation: float 5s ease-in-out infinite;
}

.ri-github-circle-line {
    animation-delay: 1s;
}

.ri-whatsapp-line {
    animation-delay: 2s;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0);
    }
}